<!-- app/views/events/index.html.erb -->
<div class="container mt-3">
  <h1 class="mb-3">События</h1>
  <% if current_user&.admin? %>
  <%= link_to 'New Events', new_event_path(@event), class: 'btn btn-secondary' %>
    <%end %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Название</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= event.end_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= link_to 'Просмотр', event, class: 'btn btn-success' %>
          <% if current_user&.admin? %>
            <%= link_to 'Редактировать', edit_event_path(event), class: 'btn btn-secondary mx-1' %>
            <%= link_to 'Удалить', event_path(event), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
